---
import Section from '@/components/Section.astro'
import { basics, educationdos } from '@cv'
import Card from '@/components/Cards/Card.astro'
import Skills from './Skills.astro'

const { summary } = basics
---

<Section title="About">
    <div class="container" id="about">
        <h1 >Acerca de mí</h1>
        <div class="containerinfo">
            <div class="aboutme">
                {summary}
            </div>
            <div class="study">
                <h2>Estudios</h2>
                <div class="sections">
                  {educationdos.map((card) => (
                    <Card card={card} />
                  ))}
                </div>
            </div>
        </div>
		<Skills/> 
    </div>
</Section>

<style>

.container{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: #5555550e;
    padding-block: 20px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h2{
    text-align: center;
}


.containerinfo{
    display: flex;
    width: 80%;
    transform: translateY(400px);
    animation: slide-up 1.5s forwards ease;
}

.aboutme{
    width: 57%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 50px;
    max-height: 350px;
    margin-right: 20px;
   
}

.study{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


@media screen and (max-width: 1024px) {

    .container{
      padding-top: 30px;
    }

    .aboutme{
        margin-top: 20px;
    }

    .containerinfo{
        flex-direction: column;
        margin-top: 0px;
        height:auto;
    }

    .aboutme{
        width: 100%;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .study{
        width: 100%;
    }

    .sections{
        gap: 10px;
    }

}  

@media (max-width: 767px)  and (min-width: 320px) {

    .container{
        overflow:auto;
        height: auto;
    }

    .aboutme{
        margin-top: 20px;
        line-height: 1.7rem;
    }

    .containerinfo{
        flex-direction: column;
        height: auto;
    }
    
    .sections{
        display: flex;
        flex-direction: column;  
        align-items: center;
        text-align: center;
    }

     h1{
      padding-bottom: 20px;
    }
    
    section p{
        width: 70%;
    }

    section span{
        width: 70%;
    }
}  

</style>