---
import Section from '@/components/Section.astro'
---



<Section title="Education">

    <div class="container">
        <h1>Educación</h1>
    </div>


</Section>



<style>

    .container{
        height: 300px;
        color:black;
      
    }
    
    h1{
        padding-top: 40px;
        font-size: 2rem;
        text-align: center;
    }
    
    </style>