<footer>

    <div class="container">Footer</div>


</footer>


<style>

    .container{
        height: 200px;
        background-color: #ECDFCC;
        padding-block: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>