---
import Section from '@/components/Section.astro'
import Node from '@/icons/node.astro'
import React from '@/icons/react.astro'
import Javascript from '@/icons/javascript.astro'
import Html from '@/icons/html.astro'
import Css from '@/icons/css.astro'
import Next from '@/icons/next.astro'
import Sql from '@/icons/sql.astro'
import Spring from '@/icons/spring.astro'
import Flutter from '@/icons/flutter.astro'
import Typescript from '@/icons/typescript.astro'
import Graphql from '@/icons/graphql.astro'
import Soa from '@/icons/soa.astro'
import Linux from '@/icons/linux.astro'
---

<Section title="Skills">
    <div class="container">
        <h2>Competencias</h2>
        <div class="skills-container">
            <div class="skill"><Html height='46px' width='46px'/>Html</div>
            <div class="skill"><Css height='46px' width='46px'/>Css</div>
            <div class="skill"><Javascript height='46px' width='46px'/>Js</div>
            <div class="skill"><React height='46px' width='46px'/>React</div>
            <div class="skill"><Node height='46px' width='46px'/>Node</div>
            <div class="skill"><Next height='46px' width='46px'/>Next</div>
            <div class="skill"><Sql height='46px' width='46px'/>Sql</div>
            <div class="skill"><Spring height='46px' width='46px'/>Spring</div>
            <div class="skill"><Linux height='46px' width='46px'/>Linux</div>
            <div class="skill"><Typescript height='46px' width='46px'/>Typescript</div>
            <div class="skill"><Graphql height='46px' width='46px'/>Graphql</div>
            <div class="skill"><Soa height='46px' width='46px'/>Soa</div>
        </div>
    </div>
</Section>

<style>

.container{
    color:black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /* margin-top: -120px; */
}

h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2rem;
    text-align: center;
}

.skills-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; /* Espacio entre elementos */
      justify-content: space-between; /* Centra los elementos horizontalmente */
      width: 80%;
    }

    .skill {
      height: 50px; /* Altura del círculo */
      width: 100px; /* Ancho del círculo */
      border-radius: 50%; /* Hace que el elemento sea un círculo */
      background-color: transparent;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
    }  

</style>