---
import Layout from '../layouts/Layout.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Education from '@/components/sections/Education.astro';
import Hero from '@/components/sections/Hero.astro';
import Skills from '@/components/sections/Skills.astro';
import Projects from '@/components/sections/Projects.astro';
import KeyboardManager from '@/components/KeyboardManager.astro'
import Navbar from '@/components/NavBar.astro'
import Gero from '@/components/sections/Gero.astro';
---

<Layout title="Diego Rojas">
	<main>
		<Navbar />
		<Gero/>
		<About/>
		<Experience/>
		<!-- <Projects/>
		<Skills/>  -->
	</main>
	<KeyboardManager/>
</Layout>

<style>

	main{
		margin: auto;
		width: 100%;
	}

</style>
