---

import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Navbar from '@/components/NavBar.astro'
import Gero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import NavBar from '@/components/NavBar.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Diego Rojas">
	<main >
		<NavBar/>
		<Gero/>
		<About/>
		<Experience/>
		<Projects/>
	</main>
</Layout>